p {
	text-align: center;
	font-family: 'Roboto', Arial;
	font-size: 16px;
}
h1 {
	font-family: 'Roboto', Arial;
	font-size: 50px;
	text-decoration: underline;
	text-align: center;
}
h2 {
	text-align: center;
	font-family: 'Roboto', Arial;
	font-size: 35px;
}
h3 {
	text-align: center;
	font-family: 'Roboto', Arial;
	font-size: 25px;
}
#circular {
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: 150px;
	height: auto;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}
#border {
	width:800px;
	padding:10px;
	margin:0px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
a:link {
	font-weight: bold;
	color: #000;
}
a:visited {
	color: #000;
	font-weight: 500;
}
a:hover {
	color: #000;
}
#navbar ul { 
	padding: 1px; 
	list-style-type: none; 
	text-align: center; 
	background-color: #fff;
	font-family: 'Roboto';
	font-size: 16px; 
} 
#navbar ul li {  
	display: inline; 
} 
#navbar ul li a { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: #000; 
	background-color: #fff; 
} 
#navbar ul li a:hover { 
	color: #fff; 
	background-color: #000; 
}